#------------------------------------
	# Project
#------------------------------------

# Custom exclusions here


#------------------------------------
	# Wee
#------------------------------------

node_modules
bower_components
wee/temp/*


#------------------------------------
	# Tools
#------------------------------------

.idea
.idea/
.idea/*
.settings
.bundle
mixture.json
prepros.json
codekit-config.json
browserstack.json
BrowserStackLocal
*.sublime-*


#------------------------------------
	# System
#------------------------------------

Thumbs.db
.DS_Store
.tmp
.cache
*.diff
*.tmproj
*.err
*.orig
*.swp
*.out
*.gem
*.log
*.lock
*.vi


#------------------------------------
	# Gitkeep
#------------------------------------

!.gitkeep