# System
.DS_Store
.tmp
Thumbs.db

# Tools
.jshintrc
mixture.json
prepros.json
codekit-config.json

# Compile
package.json
Gruntfile.js
node_modules/
bower_components/

# Wee
project.json

# Source Maps
.map