// Add custom variables here
// Values from ../../wee/style/wee.variables.less can be overriden in this file
// Sample overrides below can be removed

/*------------------------------------*\
	# Layout
\*------------------------------------*/

@maxWidth: 1000px;


/*------------------------------------*\
	# Base
\*------------------------------------*/

@baseColor: @white;

@bodyBackground: #006e8c;


/*------------------------------------*\
	# Links
\*------------------------------------*/

@linkColor: @white;
@linkColorHover: @white;
@linkColorActive: @white;


/*------------------------------------*\
	# Headings
\*------------------------------------*/

@headingFont: 'Open Sans', sans-serif;
@headingFontWeight: 300;


/*------------------------------------*\
	# Buttons
\*------------------------------------*/

@buttonFont: @headingFont;

@buttonMarginBottom: 12px;

@buttonBackground: transparent;
@buttonBackgroundHover: transparent;
@buttonBackgroundActive: transparent;