/*------------------------------------*\
	# Global
\*------------------------------------*/

#global {
	// Global helpers and state modifiers
}





/*------------------------------------*\
	# General
\*------------------------------------*/

body {
	// ...
}