{{> header}}

{{ #content|each }}
	<div class="pattern">
		<h3 class="pattern__title">{{ name }}</h3>

		{{ #heading }}
			<p class="pattern__heading">{{ . }}</p>
		{{ /heading }}

		<div class="pattern__output {{ class }}">{{ output|raw }}</div>

		{{ #blocks|each }}
			{{ #name|not('content') }}
				<pre class="pattern__input -{{ lang||'html' }}"
					id="{{ ../sourceName }}-code"
					aria-hidden="true"
					data-ref="code"><code class="{{ lang||'html' }}">{{ input }}</code></pre>
			{{ /name }}
		{{ /blocks }}
	</div>
{{ /content }}

{{> footer}}