RewriteEngine On
Options +FollowSymLinks -Indexes -MultiViews

#Header set X-UA-Compatible "IE=edge"

# Character set
#AddDefaultCharset utf-8
#AddCharset utf-8 .css .js .json .map .rss .xml


#------------------------------------
	# Remote Assets
#------------------------------------

#<FilesMatch "\.(cur|gif|ico|jpe?g|png|svgz?|webp)$">
#	SetEnvIf Origin ":" IS_CORS
#	Header set Access-Control-Allow-Origin "*" env=IS_CORS
#</FilesMatch>

#<FilesMatch "\.(eot|otf|tt[cf]|woff2?)$">
#	Header set Access-Control-Allow-Origin "*"
#</FilesMatch>


#------------------------------------
	# Rewrites
#------------------------------------

# Force www
#RewriteCond %{HTTP_HOST} !^www\.weepower\.com [NC]
#RewriteRule ^(.*)$ http://www.weepower.com/$1 [R=301,L]

# Remove www (don't use both force and remove)
#RewriteCond %{HTTP_HOST} ^www\.weepower\.com [NC]
#RewriteRule ^(.*)$ http://www.weepower.com/$1 [R=301,L]

# Force SSL
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://www.weepower.com/$1 [R=301,L]

# Remove index files
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1 [R=301,L]

# Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [R=301,L]

# Remove extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ /$1.html [R=301,L]


#------------------------------------
	# Maintenance
#------------------------------------

#RewriteCond %{REMOTE_ADDR} !^123.456.789.
#RewriteCond %{REQUEST_URI} !^/maintenance\.html$
#RewriteCond $1 !^(assets) [NC]
#RewriteRule ^(.*)$ /maintenance.html [R=307,L]