@import '../temp/wee.less'; // Core

/*------------------------------------*\
	# Normalization
\*------------------------------------*/

table {
	white-space: normal;
}
button,
input,
select,
textarea {
	vertical-align: middle;
}
.inline-block () {
	*display: inline;
	zoom: 1;
}
.clear () {
	*zoom: 1;
}





/*------------------------------------*\
	# Media Queries
\*------------------------------------*/

html {
	font-family: "'@{ieBreakpoint}'";
}

.responsive () when (@responsiveEnabled = true) {
	.check (@ieBreakpoint) when (@ieBreakpoint > 1) {
		body {
			min-width: @mobileLandscapeWidth;
		}
		.mobile-landscape();
	}
	.check (@ieBreakpoint) when (@ieBreakpoint > 2) {
		body {
			min-width: @tabletPortraitWidth;
		}
		.tablet-portrait();
	}
	.check (@ieBreakpoint) when (@ieBreakpoint > 3) {
		body {
			min-width: @desktopSmallWidth;
		}
		.desktop-small();
	}
	.check (@ieBreakpoint) when (@ieBreakpoint > 4) {
		body {
			min-width: @desktopMediumWidth;
		}
		.desktop-medium();
	}
	.check (@ieBreakpoint) when (@ieBreakpoint > 5) {
		body {
			min-width: @desktopLargeWidth;
		}
		.desktop-large();
	}
	.check(@ieBreakpoint);
}

.responsive();

// Framework

@legacyMode: true;

// Inject imports

<%= imports %>