body,
html,
.content {
	size(100%);
}
.content {
	flexContainer(justify: center, align: center, direction: column);
}
.logo {
	spaced(6);
}
.links {
	text-align: center;
	list-style: none;
	&__link {
		transition(color, .1s);
		color: $colors.secondary;
		&:hover {
			color: $colors.primary;
		}
	}
}

@mobileLandscape {
	.links {
		&__item {
			display: inline-block;
			&:not(:last-child) {
				margin-right: 3rem;
			}
		}
	}
}