// Overrides

html {
	font-size: 55%;
}

// Header

header[role='banner'] {
	background: #006e89;
	overflow: hidden;
	.container {
		.padded;
	}
	#logo {
		float: left;
		padding: 0;
	}
}
nav[role='navigation'] {
	background: none;
	float: right;
	padding: 0;
	ul {
		.inline-list;
	}
	li {
		border-top: none;
		padding: 0;
	}
	a {
		.inline;
		.padding(0, 1.4);
		&:hover {
			background: inherit;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}